@font-face {
    font-family: "Cocogoose-Bold";
    src: url('../fonts/Cocogoose Pro-trial.ttf')  format('truetype');
}

@font-face {
    font-family: "Cocogoose-Light";
    src: url('../fonts/Cocogoose Pro Light-trial.ttf')  format('truetype');
}

.main {
    font-family: 'Lato', sans-serif;
    background-image: url(../img/bg.png);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 101.2vh;
    position: relative;
}

.main p, .main h1 {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49, 0 0 4px #222b49;
}

.main a {
    color: yellow
}

.main .img_fragua {
    max-width: 600px;
    height: auto !important;
}

.main .img_electrolit {
    max-width: 180px !important;
    height: auto !important;
}


.main .center {
    text-align: center;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .main {
        background-position: center center;
        background-size: cover;
    }

    .main .img_fragua {
        max-width: 100% !important;
        height: auto !important;
    }
}

/* 
.d-none {
    display: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 200px;
    height: auto;
}

.loading p {
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.is-corogoose-bold {
    font-family: 'Cocogoose-Bold', Courier, monospace;
}

.is-corogoose-light {
    font-family: 'Cocogoose-Light', Courier, monospace;
}

.is-font-family-courier {
    font-family: Courier, monospace;
}

.modal-card-body {

    font-family: Courier, monospace;
}

.main .container {
    max-width: 800px !important;
}

.main p {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.main .ref {
    color: bisque
}

.titles-shadow {
    text-shadow: 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49, 0 0 8px #222b49;
}

.main .left .top_border {
    width: 800px;
    position: fixed;
    top: -137px;
    left: -100px;
    z-index: 1;
}

.main .left .price-images {
    position: relative;
}

.main .left .price {
    margin-top: 100px;
    max-width: 70%;
}
.main .left .promo {
    position: absolute;
    top: 50%;
    width: 300px;
    right: -100px;
}

.main .left .title {
    font-size: 2rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
}

.main .left .qr-code {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.main .right .input {
    border-radius: 50px;
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    height: 60px;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    font-size: 1.9rem;
}

.main .right .is-danger input {
    border: 4px solid red;
}

.main .right .is-disabled input {
    background-color: lightgray;
}

.main .right .is-danger p {
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.main .right ::placeholder {
    color: #000;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
}

.main .right .button.continue {
    width: 228px;
    height: 63px;
    border-radius: 44px;
    color: #fff;
    margin-top: 30px;
    background: linear-gradient(104deg, rgba(255,166,0,1) 0%, rgba(255,235,1,1) 100%);
    font-weight: bold;
    font-size: 1.9rem;
    padding: 0.05rem 0.1rem !important;
    box-shadow: 10px 10px 34px 0px rgb(0 0 0 / 75%);
}

.main .right .button.option {
    max-width: 600px;
    height: 63px;
    border-radius: 44px;
    color: #fff;
    margin-top: 30px;
    background: linear-gradient(104deg, rgba(255,166,0,1) 0%, rgba(255,235,1,1) 100%);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.05rem 0.1rem !important;
    box-shadow: 10px 10px 34px 0px rgb(0 0 0 / 75%);
    margin: 10px auto 10px auto;
}

.b-numberinput.field .control.minus, .b-numberinput.field .control.plus {
    margin: auto 10px !important;
}

.b-numberinput.field .control.is-clearfix {
    margin-right: 0;
}

.main .right .ticket {
    max-width: 600px;
    height: 63px;
    border-radius: 44px;
    color: #fff;
    margin-top: 30px;
    background: linear-gradient(104deg, rgba(255,166,0,1) 0%, rgba(255,235,1,1) 100%);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.05rem 0.1rem !important;
    box-shadow: 10px 10px 34px 0px rgb(0 0 0 / 75%);
    margin: 10px auto 10px auto;
}

.main .right .electrolits {
    position: relative;
    bottom: -19px;
    height: 404px;
    right: -237px;
}


.main .left .logo-mobile {
    margin-top: 100px;
    display: none;
}

.main .right .field {
    max-width: 600px;
    margin: 10px auto;
}

.main .right .title_electrolit_guess {
    font-size: 2.5rem;
}

.main .right.electrolit_guess {
    min-height: 100vh;
}

@media only screen and (max-width: 600px) {

    .main .left .top_border {
        width: 869px;
        position: absolute;
        top: -45px;
        left: -58px;
    }

    .main .right .electrolits {
        width: 100%;
        height: auto;
        right: -32px;
    }

    .main .right .input {
        font-size: 1.4rem;
    }
    
    .main .right ::placeholder {
        font-size: 1.4rem;
    }

    .main .left .price {
        margin-top: 60px;
    }

    .main .left .logo-mobile {
        display: block;
    }

    .main .left .promo {
        position: initial;
    }

    .logo_guess {
        margin-top: 80px;
    }

    .main .right .title_electrolit_guess {
        font-size: 2rem;
    }

    .main .right.electrolit_guess {
        min-height: auto;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 600px) {
    
    .main .left .promo {
        position: initial;
    }

    .main .right .electrolits {
        width: 100%;
        height: auto;
        right: -32px;
    }
} */

